## Segmenting and Clustering Neighborhoods in Toronto Part 2

## 1) importing Packages

In [10]:
import pandas as pd
import geocoder
import numpy as np

## 2) Read Part 1 Data

In [11]:
df = pd.read_csv('toronto1.csv')
df.head(10)

  Postcode      Borough                                  Neighbourhood
0      M1B  Scarborough                                  Rouge,Malvern
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                Guildwood,Morningside,West Hill
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9      M1N  Scarborough                     Birch Cliff,Cliffside West

## 3) Download coordinates and concat them to DataFrame

In [ ]:
 # import geocoder

# initialize your variable to None
lat_lng_coords = None
latitude=[]
longitude = []
for i in df['Postcode'] :
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(i))
        lat_lng_coords = g.latlng

    latitude.append(lat_lng_coords[0])
    longitude.append(lat_lng_coords[1])

# I waited for this library 30 minutes without answering

## 4) Read coordinates from cvs file

In [12]:
df_coordinates = pd.read_csv('Geospatial_Coordinates.csv')
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## 5) Merge coordinates with Toronto DataFrame

In [13]:
df_new = df.merge(df_coordinates, left_on='Postcode', right_on='Postal Code')
df_new.drop(['Postal Code'], axis=1, inplace = True)
df_new.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest,Cliffside,Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff,Cliffside West",43.692657,-79.264848

## 6) Save Data to CSV

In [14]:
filename = 'toronto2.csv'

df_new.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: toronto2.csv